@import url('./Variables.css');

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: var(--pale-beige);
}

html, body {
  background-color: var(--pale-beige);
}

.nav-menu {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  height: 50px;
  width: 100%;
  top: 50px;
  background-color: var(--transparent-beige);
  backdrop-filter: blur(30px);
}

.nav-menu a {
  display: inline;
  text-decoration: none;
  margin: 15px;
  padding-right: 30px;
  color: var(--brown);
}
