@import url("./Variables.css");

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: white;
}

html,
body {
  background-color: white;
}

.nav-menu {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  height: 50px;
  width: 100%;
  top: 85px;
  background-color: var(--transparent-white);
  backdrop-filter: blur(30px);
}

.nav-menu a {
  display: inline;
  text-decoration: none;
  margin: 15px;
  padding-right: 30px;
  color: black;
  transition: all 0.35s ease-in-out;
  font-family: var(--kantumruy);
}

.nav-menu a:hover {
  color: var(--blue);
}