#banners {
  padding-top: 50px;
  margin: 100px;
}

.carousel .slide {
  max-width: 100%;
}

.carousel-inner {
  height: 400px;
  margin-top: 50px;
}

#banners h1 {
  color: var(--blue);
  margin-top: 25px;
}

.banner-card {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 25px;
  margin-top: 70px;
}

.banner-container {
  background-color: var(--light-gray);
  border-radius: 5px;
  height: 100%;;
  padding: 1.5rem 0 !important;
  transition: all 0.35s ease-in-out;
}

.banner-container:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.116);
}

.more-btn {
  margin-top: 30px;
  background-color: var(--blue);
  color: white;
  width: 120px;
  padding: 5px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.116);
  transition: all 0.35s ease-in-out;
}

.more-btn:hover {
  background-color: var(--light-blue);
  transform: translateY(-4px);
}