.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: var(--transparent-beige);
  backdrop-filter: blur(30px);
  color: var(--brown);
}

.btn {
    margin-right: 10%;
}

.btn-base {
  padding: 6px;
  width: 120px;
  color: white;
  background-color: var(--brown);
  border: none;
  border-radius: 5px;
}

.social-icons {
    display: flex;
    align-items: center;
    margin-left: 10%;
    color: var(--brown);
}

.ham-container {
  display: block;
  position: relative;
  height: 60px;
  margin-right: 10%;
  display: none;
}

.ham-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  /* right: 20px; */
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.ham-container .ham-lines {
  display: block;
  height: 22px;
  width: 28px;
  position: absolute;
  top: 17px;
  /* right: 5px; */
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ham-container .ham-lines .line {
  display: block;
  height: 4px;
  border-radius: 10px;
  background: #0e2431;
}

.ham-container .ham-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.ham-container .ham-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.ham-container .ham-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.ham-container input[type='checkbox']:checked ~ .menu-items {
  transform: translateX(0);
}

.ham-container input[type='checkbox']:checked ~ .ham-lines .line1 {
  transform: rotate(45deg);
}

.ham-container input[type='checkbox']:checked ~ .ham-lines .line2 {
  transform: scaleY(0);
}

.ham-container input[type='checkbox']:checked ~ .ham-lines .line3 {
  transform: rotate(-45deg);
}

.ham-container input[type='checkbox']:checked ~ .logo {
  display: none;
}