.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  height: 100px;
  z-index: 2;
  background-color: var(--transparent-white);
  backdrop-filter: blur(30px);
  color: var(--blue);
  cursor: pointer;
}

.btn {
    margin-right: 10%;
}

.btn-base {
  padding: 6px;
  width: 50px;
  color: white;
  background-color: var(--blue);
  border: none;
  border-radius: 100px;
  transition: all 0.35s ease-in-out;
  box-shadow: 0 4px 8px 0 #26a7b867;
}

.btn-base:hover {
  background-color: var(--light-blue);
}

.social-icons {
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.mail-icon {
  color: white;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
  background-color: var(--blue);
  outline: none;
  border-radius: 50%;
  margin-left: 15px;
  box-shadow: 0 6px 10px 0 var(--shadow-blue);
}

.mail-icon:hover {
  background-color: var(--light-blue);
  color: white;
}

.insta-icon {
  color: white;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
  background-color: var(--blue);
  outline: none;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 var(--shadow-blue);
}

.insta-icon:hover {
  background-color: var(--light-blue);
  color: white;
}

.twt-icon {
  color: white;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
  background-color: var(--blue);
  outline: none;
  border-radius: 50%;
  margin-left: 15px;
  box-shadow: 0 6px 10px 0 var(--shadow-blue);
}

.twt-icon:hover {
  background-color: var(--light-blue);
  color: white;
}

.nav-container {
  display: none;
}