#logos {
    padding-top: 50px;
    margin: 100px;
}

#logos h1 {
    color: var(--blue);
    margin-top: 25px;
}

.card-display {
    display: grid;
    grid-gap: 60px;
    margin-top: 70px;
}

.display-container {
    background-color: red;
    border-radius: 5px;
    height: 100%;
    padding: 1.5rem 0 !important;
}