

:root {
    --brown: #90573e;
    --light-brown: #a87158;
    --beige: #f5c6aa;
    --light-beige: #f8e2cf;
    --pale-beige: #fdeee2;
    --pink: #ffc8c1;
    --light-pink: #f8cfca;
    --transparent-beige: #fdeee271;
    /* --roboto: 'Roboto', sans-serif;
    --kantumruy: 'Kantumruy Pro', sans-serif;
    --montserrat: 'Montserrat', sans-serif; */
}